@model library_system.Models.Question
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h3>Title: @Model.Title</h3>
    <h3>Link :@Model.Link</h3>
    <h3>Answer Count :@Model.AnswerCount</h3>
</div>

