@model List<library_system.Models.Question>
@{
    ViewBag.Title = "ManageStackExchangeQiz";
}

<h2>ManageStackExchangeQiz</h2>
<ul>
    @foreach (var question in Model)
    {
        <li>
            @Html.ActionLink(question.Title, "Details", "Home", new { questionId = question.QuestionId }, null)
        </li>
    }
</ul>